<div id="content">
				<div class="inner">
<%= form_for @user , validate: true do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <label for="password" id="password_label">Password</label><br/>
    <%= f.password_field :password %></p>
  </div>

  <!-- <div class="field">
    <%= f.label :admin %>
    <%= f.check_box :admin %>
  </div> -->

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :days_in_week %>
    <%= f.text_field :days_in_week %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>
