<div id="content">
				<div class="inner">
<%= form_for @activity, html: { multipart: true } do |f| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :goals %>
    <%= f.text_area :goals %>
  </div>

  <div class="field">
    <%= f.label :ages %>
    <%= f.select(:ages, [['9-12', '9-12'],
                                  ['13-14', '13-14'],
                                  ['15-16', '15-16'],
                                  ['17-18', '17-18']
                                 ],{ :prompt => "Suitable for all ages"},
                                   { :multiple => true, :size => 4 },
                                 ) %>

  </div>
  <div class="field">
    <%= f.label :act_kind %>
    <%= f.text_field :act_kind %>
  </div>

  <div class="field">
    <%= f.label :act_description %>
    <%= f.text_area :act_description %>
  </div>

  <div class="field">
    <%= f.label :openning_game %>
    <%= f.text_area :openning_game %>
  </div>

  <div class="field">
    <%= f.label :methods %>
    <%= f.text_area :methods %>
  </div>

  <div class="field">
    <%= f.label :accessories %>
    <%= f.text_area :accessories %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>
