<%= form_tag activities_path, :method => 'get' do %>
<div id="content" style="min-height: 2019px;">
				<div class="inner">
  <p id="notice"><%= notice %></p>

  <% @activities.each do |activity| %>
    <tr>
      <article class="box post post-excerpt">

      	<header>
      		<h2><a href="<%= activity.name %>"></a></h2>
      		<p><%= activity.act_kind %></p>
      	</header>
      	<div class="info">
      		Suitable for <%= activity.ages %>
      	</div>
      	<a href="#" class="image featured"><img src="<%= activity.image %>" alt="" /></a>
      	<p>
          <strong>goals:</strong>
          <%= activity.goals %>
        </p>
        <p>
          <strong>act description:</strong>
          <%= activity.act_description %>
        </p>
				<td><%= link_to 'Show the full activity', activity %></td>

				<td>|<%= link_to 'Edit', edit_activity_path(activity) %>|</td>
				<td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
			</article>
    </tr>

  <% end %>

  <%= link_to 'New Activity', new_activity_path %>
</div>
</div>
