<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->

  </head>

  <body>
				<div class="inner">
              <%= yield %>
            </div>
    <!-- Sidebar -->
			<div id="sidebar">

				<!-- Logo -->
					<h1 id="logo"><a href="#">MyBuild</a></h1>
          <nav id="nav">
    			  <ul>
              <% if session[:login].present?%>
              <h2>Hey <%= User.find(session[:login]).username%>,</h2>
              <h2>Welcome to MyBuild</h2>
              <%= link_to 'sign out','/users/signOut' %>
              <% else %>
              <%= link_to 'sign in',new_user_path%>
            </ul>
          </nav>
          <% end %>
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="<%= activities_path %>">Hot Posts</a></li>
							<li><a href="<%= activities_path %>">All Posts</a></li>

						</ul>
					</nav>
      <nav id="nav">
			<ul>
        <a href="<%= new_activity_path %>" class="button previous">New Activity</a>
      </ul>
    </nav>
				<!-- Search -->
					<section class="box search">
            <h3>text: </h3>
						<form action="/activities" name="search" action="#">
							<input type="text" class="text" name="search" placeholder="Search" />
            <h3>ages: </h3>
              <select action="/activities" name="search_ages" action="#">
                <option value="{'9-12':'13-14','15-16':'17-18'}"  selected="selected">Suitable for all ages</option>
                <option value="{'9-12'}">9-12</option>
                <option value="{'13-14'}">13-14</option>
                <option value="{'15-16'}">15-16</option>
                <option value="{'17-18'}">17-18</option>
              </select>
            </form>
					</section>

				<!-- Text -->
					<section class="box text-style1">
						<div class="inner">
							<p>
								<strong>MYbuild:</strong> A project site by Reut Leibovich AND Alon Stepanovsky
							</p>
						</div>
					</section>

				<!-- Calendar -->
					<section class="box calendar">
						<div class="inner">
							<table>
								<caption>July 2014</caption>
								<thead>
									<tr>
										<th scope="col" title="Monday">M</th>
										<th scope="col" title="Tuesday">T</th>
										<th scope="col" title="Wednesday">W</th>
										<th scope="col" title="Thursday">T</th>
										<th scope="col" title="Friday">F</th>
										<th scope="col" title="Saturday">S</th>
										<th scope="col" title="Sunday">S</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="4" class="pad"><span>&nbsp;</span></td>
										<td><span>1</span></td>
										<td><span>2</span></td>
										<td><span>3</span></td>
									</tr>
									<tr>
										<td><span>4</span></td>
										<td><span>5</span></td>
										<td><a href="#">6</a></td>
										<td><span>7</span></td>
										<td><span>8</span></td>
										<td><span>9</span></td>
										<td><a href="#">10</a></td>
									</tr>
									<tr>
										<td><span>11</span></td>
										<td><span>12</span></td>
										<td><span>13</span></td>
										<td class="today"><a href="#">14</a></td>
										<td><span>15</span></td>
										<td><span>16</span></td>
										<td><span>17</span></td>
									</tr>
									<tr>
										<td><span>18</span></td>
										<td><span>19</span></td>
										<td><span>20</span></td>
										<td><span>21</span></td>
										<td><span>22</span></td>
										<td><a href="#">23</a></td>
										<td><span>24</span></td>
									</tr>
									<tr>
										<td><a href="#">25</a></td>
										<td><span>26</span></td>
										<td><span>27</span></td>
										<td><span>28</span></td>
										<td class="pad" colspan="3"><span>&nbsp;</span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>
      </div>

  </body>
</html>
